<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
        <body>
            <div class="main-content">
                {{>header}}
                <p>This is done by me</p>
                <img class="portrait" src="/img/image.jpg"/>
            </div>
            
            {{>footer}}
        </body>
    </head>
</html>